@use '../../styles' as *;
@use '../../styles/mixins' as *;

.button {
  background-color: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  @include prevent-text-selection;

  &.size-xs {
    height: 28px;
    padding: 10px 18px;
    min-width: 100px;
    font-size: 13px;
  }

  &.size-sm {
    height: 33px;
    padding: 10px 18px;
    min-width: 120px;
    font-size: 14x;
  }

  &.size-md {
    height: 43px;
    padding: 10px 18px;
    min-width: 140px;
    font-size: 15px;
  }

  &.size-lg {
    height: 48px;
    padding: 10px 20px;
    min-width: 160px;
    font-size: 16px;
  }

  &.size-xl {
    height: 53px;
    padding: 10px 24px;
    min-width: 180px;
    font-size: 18px;
  }

  // Primary
  &:not(.disabled) {
    &.solid {
      &.color-primary {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;

        &:hover {
          background-color: $blue-dark;
        }
      }

      &.color-secondary {
        background-color: $dark-1;
        color: $white;
        border-color: $dark-1;

        &:hover {
          background-color: $dark-2;
        }
      }

      &.color-success {
        background-color: $green;
        color: $white;
        border-color: $green;

        &:hover {
          background-color: $green-dark;
        }
      }

      &.color-danger {
        background-color: $red;
        color: $white;
        border-color: $red;

        &:hover {
          background-color: $red-dark;
        }
      }
    }

    // Outline styles
    &.outline {
      &.color-primary {
        background-color: $white;
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
          background-color: $blue-light-5;
        }

        &:active {
          background-color: $blue-light-4;
        }
      }

      &.color-danger {
        background-color: $white;
        border-color: $red;
        color: $red;

        &:hover {
          background-color: $red-light-5;
        }

        &:active {
          background-color: $red-light-4;
        }
      }

      &.color-secondary {
        background-color: $white;
        border-color: $dark-1;
        color: $dark-1;

        &:hover {
          background-color: $gray-2;
        }

        &:active {
          background-color: $gray-3;
        }
      }

      &.color-success {
        background-color: $white;
        border-color: $secondary-color;
        color: $secondary-color;

        &:hover {
          background-color: $green-light-8;
        }

        &:active {
          background-color: $green-light-6;
        }
      }
    }

    // Ghost styles
    &.ghost {
      &.color-primary {
        background-color: transparent;
        color: $primary-color;

        &:hover {
          background-color: $gray-2;
          color: $primary-text-color;
        }

        &:active {
          background-color: $blue-light-5;
          color: $primary-color;
        }
      }

      &.color-secondary {
        background-color: transparent;
        color: $dark-1;

        &:hover {
          background-color: $gray-2;
          color: $dark-1;
        }

        &:active {
          background-color: $gray-3;
          color: $dark-1;
        }
      }

      &.color-success {
        background-color: transparent;
        color: $secondary-color;

        &:hover {
          background-color: $green-light-8;
        }

        &:active {
          background-color: $green-light-6;
        }
      }

      &.color-danger {
        background-color: transparent;
        color: $red;

        &:hover {
          background-color: $red-light-5;
        }

        &:active {
          background-color: $red-light-4;
        }
      }
    }
  }

  // Disabled styles
  &.disabled {
    background-color: $gray-3;
    border-color: $gray-3;

    color: $dark-5;
    cursor: not-allowed;
  }

  // Border radius
  &.radius-small {
    border-radius: 6px;
  }

  &.radius-medium {
    border-radius: 10px;
  }

  &.radius-full {
    border-radius: 50px;
  }
}
