@use "../../styles" as *;

.button {
  background-color: none;
  height: 48px;
  padding: 10px 20px;
  min-width: 120px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;

  // Primary
  &:not(.disabled) {
    &.solid {
      &.color-primary {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;

        &:hover {
          background-color: $blue-dark;
        }
      }

      &.color-secondary {
        background-color: $dark-1;
        color: $white;
        border-color: $dark-1;

        &:hover {
          background-color: $dark-2;
        }
      }

      &.color-success {
        background-color: $green;
        color: $white;
        border-color: $green;

        &:hover {
          background-color: $green-dark;
        }
      }

      &.color-danger {
        background-color: $red;
        color: $white;
        border-color: $red;

        &:hover {
          background-color: $red-dark;
        }
      }
    }

    // Outline styles
    &.outline {
      &.color-primary {
        background-color: $white;
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
          background-color: $blue-light-5;
        }

        &:active {
          background-color: $blue-light-4;
        }
      }
    }

    // Ghost styles
    &.ghost {
      &.color-primary {
        background-color: transparent;
        color: $primary-color;

        &:hover {
          background-color: $gray-2;
          color: $primary-text-color;
        }

        &:active {
          background-color: $blue-light-5;
          color: $primary-color;
        }
      }
    }
  }

  // Disabled styles
  &.disabled {
    background-color: $gray-3;
    border-color: $gray-3;

    color: $dark-5;
    cursor: not-allowed;
  }

  // Border radius
  &.radius-small {
    border-radius: 6px;
  }

  &.radius-medium {
    border-radius: 10px;
  }

  &.radius-full {
    border-radius: 50px;
  }
}
